* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.content {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #97d8b2;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 30px;
}
.main-content > * {
  margin-bottom: 40px;
}

.main-content > *:last-child {
  margin-bottom: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  width: 350px;
  height: 1056px;
  background-color: #687778;
}

.Title h1 {
  display: flex;
  color: white;
  justify-content: center;
  width: 300px;
  margin-bottom: 20px;
  font-size: extra-large;
}
.Subtitle h1 {
  display: flex;
  justify-content: center;
  color: white;
  width: 300px;
  margin-bottom: 20px;
  font-size: large;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

.sidebar #ProfilePic {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-top: 10px;
  height: auto;
}
.Socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #687778;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 25px;
  margin: 0 10px;
}
.Socials #Email {
  margin-top: 8px;
}
.Socials a:hover {
  background-color: #97d8b2;
  color: #687778;
}

.BlackBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 350px;
  height: 20px;
  background-color: black;
}

.selection a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}

.selection ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 35px;
}
.selection img {
  width: 25px;
  height: 25px;
  display: flex;
}
.selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
}
.selection a:hover {
  background-color: #97d8b2;
  color: #687778;
}

#AboutMe {
  /* This is the section that I am having trouble with */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: antiquewhite;
}

#Education {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
}

#Education h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

#Education .GU h3,
#Education .PCC h3,
#Education .GU p,
#Education .PCC p {
  margin-top: 2px;
  margin-bottom: 2px;
}

#Education .GU,
#Education .PCC {
  margin-bottom: 1px;
}

#Skills {
  display: flex;
  flex-direction: column;
  align-items: right;
  width: 50%;
}

.Skills-List ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

.Skills-List li {
  width: 45%;
}

#Projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
}

#Projects h2 {
  margin-bottom: 15px;
}

#Projects .Project1,
#Projects .project-2,
#Projects .project-3 {
  margin-bottom: 15px;
}

#Contact {
  display: flex;
  flex-direction: column;
}
