.content {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #97d8b2;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  padding-right: 30px;
  width: 389px;
  height: 1056px;
  background-color: #687778;
}

.Title h1 {
  display: flex;
  color: white;
  justify-content: center;
  width: 300px;
  margin-bottom: 20px;
  font-size: extra-large;
}
.Subtitle h1 {
  display: flex;
  justify-content: center;
  color: white;
  width: 300px;
  margin-bottom: 20px;
  font-size: large;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}
.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 30px;
}

.sidebar #ProfilePic {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
}
.Socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #687778;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
}
.Socials #Email {
  margin-top: 8px;
}
.Socials a:hover {
  background-color: #97d8b2;
  color: #687778;
}

.selection a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}

.selection ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 40px;
}
.selection img {
  width: 45px;
  height: auto;
  display: block; /* Removes bottom margin/whitespace inherent to inline elements */
}
.selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This distributes children evenly, including the first to the top and the last to the bottom */
  align-items: center; /* Keeps items centered horizontally */
  height: 100%; /* Ensure the container takes full height to distribute items over */
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
